.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;

    button {
      &:hover {
        color: #fff;
      }
    }

    span {
      font-size: 0.8rem;
    }
  }
}